<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css") <!--Include any CSS files-->
    @Scripts.Render("~/bundles/modernizr") <!--Include any JavaScript files-->
</head>
<body>
    @RenderBody() <!--Renders the content of the view-->
</body>
</html>
