<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- Include any meta tags or styles as needed -->
</head>
<body>
    @RenderBody() <!--Renders the content of the view-->
</body>
</html>
